body {
  font-family: "Roboto", sans-serif;
}

header {
  margin: 8px 8px;
  border-top: 16px solid #FFFFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  margin: 10px 0px;
}

.header-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 44px;
}
.header-sec .form-select {
  border: 0px;
  padding: 0px;
  background-image: none;
}
.header-sec ul {
  margin: 10px 0px;
}
.header-sec .text-end {
  margin: 10px 0px;
}
.header-sec .text-end a img {
  width: 32px;
}

.nav-link {
  padding: 0px;
}

.main-container .all-collections-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.main-container .all-collections {
  background-image: url("../inc/img/all-collections.svg");
  width: 90%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 16px solid #FFFFEF;
  margin-bottom: 94px;
}
.main-container .all-collections .all-collections-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 64px;
  margin-right: 64px;
  color: #56593D;
}
.main-container .all-collections a {
  width: 154px;
  height: 56px;
  background-color: #56593D;
  border-radius: 0px;
  text-align: center;
  padding: 16px 16px;
  font-size: 16px;
  color: #FFF;
}
.main-container .under-collections {
  text-align: center;
}
.main-container .under-collections p {
  color: #56593D;
  font-size: 57px;
  line-height: 81px;
}
.main-container .under-collections .under-collections-urls {
  padding-bottom: 90px;
}
.main-container .under-collections .under-collections-urls a {
  color: #56593D;
  font-size: 16px;
  line-height: 25px;
  margin: 0px 30px;
}
.main-container .maple-board-collection-wrapper {
  margin-bottom: 23px;
  background-color: #FFFFEF;
}
.main-container .maple-board-collection-wrapper .board-collection-title {
  text-align: center;
  padding-top: 63px;
  color: #56593D;
}
.main-container .maple-board-collection-wrapper .board-collection-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container .maple-board-collection-wrapper .card-board-collection {
  color: #56593D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 32px;
}
.main-container .maple-board-collection-wrapper .card-board-collection img {
  width: 90%;
  margin-bottom: 15px;
}