body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  margin: 8px 8px;
  border-top: 16px solid #FFFFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  margin: 10px 0px;
}

.header-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 44px;
}
.header-sec .form-select {
  border: 0px;
  padding: 0px;
  background-image: none;
}
.header-sec ul {
  margin: 10px 0px;
}
.header-sec .text-end {
  margin: 10px 0px;
}
.header-sec .text-end a img {
  width: 32px;
}

.nav-link {
  padding: 0px;
}

.all-collections-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.all-collections {
  background-image: url("../inc/img/all-collections.svg");
  background-size: cover;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 16px solid #FFFFEF;
  margin-bottom: 94px;
}
.all-collections .all-collections-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 64px;
  margin-right: 64px;
  color: #56593D;
}
.all-collections a {
  width: 154px;
  height: 56px;
  background-color: #56593D;
  border-radius: 0px;
  text-align: center;
  padding: 16px 16px;
  font-size: 16px;
  color: #FFF;
}

.under-collections {
  text-align: center;
}
.under-collections p {
  color: #56593D;
  font-size: 57px;
  line-height: 81px;
}
.under-collections .under-collections-urls {
  padding-bottom: 90px;
}
.under-collections .under-collections-urls a {
  color: #56593D;
  font-size: 16px;
  line-height: 25px;
  margin: 0px 30px;
}

.maple-board-collection-wrapper {
  margin-bottom: 23px;
  background-color: #FFFFEF;
}
.maple-board-collection-wrapper .board-collection-title {
  text-align: center;
  padding-top: 63px;
  color: #56593D;
}
.maple-board-collection-wrapper .board-collection-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.maple-board-collection-wrapper .card-board-collection {
  color: #56593D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 60px 32px;
}
.maple-board-collection-wrapper .card-board-collection img {
  margin-bottom: 15px;
  width: 100%;
}

.believe-minimalism-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.believe-minimalism-wrapper .believe-minimalism {
  color: #56593D;
  background-image: url("../inc/img/believe-minimalism.svg");
  background-size: cover;
  height: 700px;
  width: 100%;
  margin-bottom: 40px;
  border: 16px solid #FFFFEF;
}
.believe-minimalism-wrapper .believe-minimalism .believe-title {
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-top: 62px;
  margin-bottom: 11px;
}
.believe-minimalism-wrapper .believe-minimalism .believe {
  font-size: 50px;
  text-align: center;
}

.our-design-story {
  background-color: #FFFFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.our-design-story .design-story-left img {
  width: 90%;
  margin: 32px;
}
.our-design-story .design-story-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #56593D;
}
.our-design-story .design-story-right hr {
  width: 40px;
}

.your-table-your-time {
  background-color: #FFFFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.your-table-your-time .table-time-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #56593D;
}
.your-table-your-time .table-time-left hr {
  width: 40px;
}
.your-table-your-time .table-time-right img {
  width: 90%;
  margin: 32px;
}

.sign-up-newsletter {
  background-color: #FFFFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding-top: 63px;
  padding-bottom: 63px;
}
.sign-up-newsletter .form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #56593D;
  background-color: #FFFFEF;
}
.sign-up-newsletter .form a {
  width: 144px;
  height: 22px;
  background-color: #56593D;
  border-radius: 0px;
  text-align: center;
  padding: 1px 25px;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.kinnmoments {
  background-color: #FFFFEF;
  margin-bottom: 128px;
}
.kinnmoments p {
  text-align: center;
  font-size: 25px;
  line-height: 32px;
  padding-top: 69px;
  margin-bottom: 39px;
}
.kinnmoments .kinnmoments-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 64px;
}
.kinnmoments .kinnmoments-img img {
  margin: 8px;
}

footer {
  background-color: #56593D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FFFFEF;
  font-size: 16px;
  padding-bottom: 110px;
  padding-top: 64px;
}
footer hr {
  width: 40px;
}
footer .footer-section-1 {
  line-height: 25px;
  margin-left: 32px;
}
footer .footer-section-2 {
  line-height: 25px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-section-2 a {
  color: #FFFFEF;
  text-decoration: none;
  margin: 9px 4px;
}
footer .footer-section-2 select {
  margin: 9px 0px;
  color: #FFF;
}
footer .footer-section-2 select option {
  color: #56593D;
}
footer .footer-section-3 {
  line-height: 25px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
footer .footer-section-3 a {
  color: #FFFFEF;
  text-decoration: none;
  margin: 9px 4px;
}
footer .footer-section-4 {
  line-height: 25px;
  margin-left: 32px;
}
footer .form-select-footer {
  background: none;
  border: 0px;
}